/*--------------
    Debug Zone
----------------*/
.debug{
    color: white;
}

.debug section{
    color: black;
}

h1 { 
    text-align: center;
}

header{
    background-color: #2c3e50 ;
}

section{
    margin-bottom: 50px;
}

.title, .navigation{
    display: flex;
    border: 1px solid red;
    min-height: 45px;
    align-items: center;
}

.hero, .about{
    background-color: #1abc9c;
}

.hero .container{
    /* max-width: 600px; */
    /* margin: 0 auto; */
    min-height: 500px;
    border: 1px solid red;
}

.portfolio .row .col-12{
    border: 1px solid red;
}

.portfolio .row{
    row-gap: 10px;
}

.about [class *= "col"]{
    min-height: 100px;
    border: 1px solid red;
}

.about-download{
    text-align: center;
}