/*--------------
    Debug Zone
----------------*/
.debug{
    color: white;
}

.debug section{
    color: black;
}

.row.row-header{
    background-color: #2c3e50 ;
    min-height: 90px;
}

.title, .navigation{
    display: flex;
    border: 1px solid red;
    min-height: 45px;
    align-items: center;
}

.hero{
    background-color: #1abc9c;
}

.container_custom{
    max-width: 600px;
    margin: 0 auto;
    min-height: 500px;
    border: 1px solid red;
}

.portfolio .row .col-12{
    border: 1px solid red;
    background-color: gold;
}