/*--------------
    Debug Zone
----------------*/
.debug{
    color: white;
}

.row.row-header{
    background-color: #2c3e50 ;
    min-height: 90px;
}

.title, .navigation{
    display: flex;
    border: 1px solid red;
    min-height: 45px;
    align-items: center;
}