/*-------------
     Commons
--------------*/
.decoration{
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}

.bar-white{
    background-color: white;
}

.bar-black{
    background-color: black;
}

.container-cs{
    max-width: 800px;
    margin: 0 auto;
}

/*-------------
    Buttons
--------------*/

.btn_cs{
    color: #fff;
    background-color: transparent; 
    border: 1px solid white;
    padding: 10px 20px;
    border-radius: 10px;
    margin: 20px 0px;
}

.btn-cs-form{
    background-color: #1abc9c;
}

/*-------------
     Typo
--------------*/

h1 { 
    text-transform: uppercase;
    text-align: center;
}

.hero h2{
    font-size: 50px;
    text-transform: uppercase;
}

.hero p{
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 500;
}

.text-signed{
    color: #1abc9c;
}

/*-----------
    Header
-------------*/

header{
    color: #fff;
    background-color: #2c3e50 ;
}

header i{
    color: white;
}

.main-nav ul{
    display: flex;
    justify-content: flex-end;
    column-gap: 10px;
    list-style: none;
    margin: 0px;
}

.main-nav ul a{
    color: inherit;
    text-decoration: none;
}

.navigation, .logo{
    align-self: center;
}

.navigation{
    text-align: right ;
}

/*----------
    Main
-----------*/
.hero{
    color: #fff;
}

.bar{
    height: 3px;
    width: 30%;
    max-width: 150px;
}

.decoration .star{
    margin: 0px 10px;
    font-size: 24px;
}

.portfolio .row{
    row-gap: 20px;
}

.col-12{
    overflow: hidden;
}

.portfolio-item{
    border-radius: 20px;
    overflow: hidden;
}

.portfolio-item img{
    display: block;
}

.portfolio-item::after{
    content: "\2b";
    font-family: "Font Awesome 6 Free";
    font-weight: 900;
    color: #fff;
    font-size: 60px;
    position: absolute;
    background-color: #1abc9ce9;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    z-index: 1;

    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;

    opacity: 0;
}

.about i, .about h1, .about p{
    color: white;
}

/*-----------
    Form
-------------*/

.form-row{
    width: 100%;
    border: none;
    padding-bottom: 10px ;
    border-bottom: 1px solid grey;
    margin-bottom: 20px;
}

.form-row.message-box{
    padding-bottom: 50px;
}

/*-----------
    Footer
-------------*/

.social-link ul{
    display: flex;
    list-style: none;
    justify-content: center;
    column-gap: 20px;
}

.circle-box{
    width: 55px;
    height: 55px;
    border: 2px solid white;
    border-radius: 50%;

    font-size: 20px;
    text-align: center;
    line-height: 55px;
}

.circle-box i{
    color: #fff;
}

footer .credits{
    color: white;
    background-color: #3a546d;
}

footer .copyright{
    text-align: center;
    background-color: #2c3e50;
    color: white;
    padding: 30px 0px;
}

.hero, .about{
    background-color: #1abc9c;
}

/*--------------------
    Animation/Effects
----------------------*/

.portfolio .row [class ^="col"]:hover .portfolio-item::after{
    opacity: 1;
}
