/*-------------
     Typo
--------------*/

h1 { 
    text-align: center;
}

/*-----------
    Header
-------------*/

header{
    color: #fff;
    background-color: #2c3e50 ;
}

header i{
    color: white;
}

.main-nav ul{
    display: flex;
    justify-content: flex-end;
    column-gap: 10px;
    list-style: none;
    margin: 0px;
}

.main-nav ul a{
    color: inherit;
    text-decoration: none;
}

.navigation, .logo{
    align-self: center;
}

.navigation{
    text-align: right ;
}

/*----------
    Main
-----------*/
.hero{
    color: #fff;
}

.decoration{
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}

.bar-white{
    background-color: white;
}

.bar-black{
    background-color: black;

}

.bar{
    height: 3px;
    width: 30%;
    max-width: 150px;
}

.decoration .star{
    margin: 0px 10px;
    font-size: 24px;
}

.cards{
    border-radius: 20px;
}



/*-----------
    Footer
-------------*/

footer .credits{
    color: white;
}


footer .copyright{
    text-align: center;
    background-color: #2c3e50;
}

.credits [class *= "col"]{
    text-align: center;
    border: 1px solid red;
}

.credits{
    background-color: #3a546d;
}

.hero, .about{
    background-color: #1abc9c;
}


.portfolio .row .col-12{
    border: 1px solid red;
}

.portfolio .row{
    row-gap: 10px;
}

.about [class *= "col"]{
    min-height: 100px;
    border: 1px solid red;
}

.about-download{
    text-align: center;
}